/**********************************************************************************************
	FOR RETAILERS - PAGE ************************************************************************
**********************************************************************************************/

.forretailers p {
	font-size: 20px;
}
.hero-for-retailers {
	min-height: 500px;
	padding-top: 260px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	background-image: url(../img/hero-for-retailers.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.hero-for-retailers h2 {
	font-weight: 500;
}
/*********************************************************************************************
	WHAT WE DO - SECTION
*********************************************************************************************/
.forretailers .section-01 {
	min-height: 350px;
}
@media only screen and (min-width: 992px) {
	.forretailers .section-01 {
		min-height: 390px;
	}
}
.shoes {
	left: -200px;
	bottom: 0;
}
.belt {
	right: 0px;
	bottom: 0;
}

/*********************************************************************************************
	WHY INSTALL STYLEKEY? - SECTION
*********************************************************************************************/
.ico-01,
.ico-02,
.ico-03,
.ico-04,
.ico-05,
.ico-06 {
	width: 45px;
	height: 45px;
	background-image: url(../img/sprites.png);
}
.ico-01 {
	background-position: -450px 0;
}
.ico-02 {
	background-position: -495px 0;
}
.ico-03 {
	background-position: -540px 0;
}
.ico-04 {
	background-position: -585px 0;
}
.ico-05 {
	background-position: -630px 0;
}
.ico-06 {
	background-position: -675px 0;
}


/*********************************************************************************************
	 - SECTION
*********************************************************************************************/
.forretailers .sec-03-howitworks {
	border-bottom: 8px solid #fac7a9;
}


/*********************************************************************************************
	 - SECTION
*********************************************************************************************/
.forretailers .sec-02-howitworks .container:before {
	display: none;
	width: 195px;
	height: 260px;
	margin-left: -100px;
	background-position: -495px -760px;
	background-size: inherit;
}



