/*Fonts:

Gotham Book:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 400;

Gotham Medium:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 500;

Gotham Bold:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 700;
*/

body {
	font-family: "Gotham A", "Gotham B";
	font-style: normal;	
	font-weight: 400;

	/*padding-top: 81px;*/
	min-height: 2000px;
}
h2 {
	font-size: 68px;
	font-weight: 400;
}
h3 {
	font-size: 30px;
	margin-top: 70px;
	margin-bottom: 70px;
}
/*h4 {
	font-size: 26px;
}*/
.navbar-default {
	padding: 15px 0;
	background: rgba(0,0,0,.6);
	border-color: #a5795e;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-collapse {
	border-top: none;
	-webkit-box-shadow: none; 
  box-shadow: none; 
}
.navbar-nav li a.btn-login {
	top: 5px;
  left: 15px;
	display: inline-block;
	padding: 10px;
	border-radius: 0;
}
.navbar-nav li a.btn-login,
.navbar-nav li a.btn-login:hover {
	color: #595959 !important;
	background: #fff;	
}
.navbar-toggle {
	padding: 14px 10px;
	border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
	border-color: #a5795e;
}
.navbar-default .navbar-toggle:focus span, .navbar-default .navbar-toggle:hover span {
	background-color: #a5795e;
}
@media only screen and (min-width: 768px) {
	.navbar-collapse {
		text-align: center;
	}
	.navbar-collapse.collapse {
		height: 0 !important; /* reset bootstrap */		
	}
	/* main nav link animation */
	.navbar-default .navbar-nav>li>a:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 2px;
    background-color: rgba(255,255,255,0.9);
	  -webkit-transition: 300ms;
	  transition: 300ms;
	  -webkit-transform: scale(0, 1);
	  -ms-transform: scale(0, 1);
	  transform: scale(0, 1);
	  -webkit-transform-origin: 0 50%;
	  -ms-transform-origin: 0 50%;
	  transform-origin: 0 50%;
	}
	.navbar-default .navbar-nav>li>a.btn-login:before {
		display: none;		
	}
	.navbar-default .navbar-nav>li>a:focus:before, 
	.navbar-default .navbar-nav>li>a:hover:before {
		-webkit-transform: scale(1, 1);
	  -ms-transform: scale(1, 1);
	  transform: scale(1, 1);
	}
	
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
@media only screen and (min-width: 992px) {
	h3 {
		font-size: 40px;
	}
	.navbar-default .navbar-nav>li>a {
	  font-size: 20px;
	}	
}
.logo {
	display: inline-block;
	width: 281px;
	height: 52px;
	background-image: url(../img/logo.png);
}
.logo.hidden-xs {

}
.logo.visible-xs-block {
	position: absolute;
	left: 15px;
}
/* Carousel */
.hero-carousel {
	background: url(../img/hero.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.hero-carousel .btn-lg {
	border-radius: 3px;
}
.hero-carousel .btn-default:hover {
	border-color: #a5795e;
  background: #C2B797;
}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.carousel-control img {
  position: absolute;
  top: 80%;
  z-index: 5;
  margin-top: -27px;
}
@media only screen and (min-width: 900px){
	.carousel-control img {
		top: 50%;
	}
}
.carousel-control.left img {
	left: 20px;
}
.carousel-control.right img {
	right: 20px;
}
.hero {
	margin-top: 81px;
	padding: 260px 20px;
	color: #fff;
	text-align: center;
}
.hero p {
	font-size: 38px;
}

/* what we do - section*/
.section-01 {
	position: relative;
	min-height: 430px;
	text-align: center;
	font-size: 26px;
}
.tie,
.shoes {
	position: absolute;
	top: 0;
	display: none;
	z-index: -1;
}
.tie {
	left: 0;
}
.shoes {
	right: -200px;
}
@media only screen and (min-width: 1600px) {
	.section-01 {
		padding-left: 250px;
		padding-right: 250px;
	}
	.tie,
	.shoes {
		display: block;
	}
}


/* We understand your shopping challenges - section */
.section-02 {
	background: #efefef;
	padding-bottom: 50px;
}
.challenge-1,
.challenge-2,
.challenge-3,
.challenge-4 {
	min-height: 390px;
	padding: 50px 50px 80px 50px;
	margin: 10px auto;
	font-size: 16px;
	color: #fff;
	border: 5px solid #fff;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;

	-webkit-box-shadow: inset 0 0 15rem 15rem rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 0 15rem 15rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 15rem 15rem rgba(0, 0, 0, 0.5);

}
.challenge-1 {
	background-image: url(../img/person-1.jpg);
}
.challenge-2 {
	background-image: url(../img/person-2.jpg);
}
.challenge-3 {
	background-image: url(../img/person-3.jpg);
}
.challenge-4 {
	background-image: url(../img/person-4.jpg);
}
.challenge-1 p,
.challenge-2 p,
.challenge-3 p,
.challenge-4 p {
  position: absolute;
  top: 55%;
	left: 10%;
	width: 80%;

  transform: translateY(-50%);
}
.client-name {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	font-size: 18px;
}
.client-name span {
	color: #f9b993;
}
@media only screen and (min-width: 768px) {
	.challenge-1,
	.challenge-2,
	.challenge-3,
	.challenge-4 {
		margin: 0 -10px 10px -10px;
	}	
}
@media only screen and (min-width: 1200px) {
	.challenge-1,
	.challenge-2,
	.challenge-3,
	.challenge-4 {
		font-size: 23px;
	}
}

/* Shop smarter - section */
.section-03 {
	background-image: url(../img/bg-screenshots-full.png);
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
}
.section-03-header {
	text-align: center;
	background: rgba(255,255,255,.9);
}
.section-03-content {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.section-03 .col-sm-6 {
	min-height: 370px;
	padding: 40px;
	color: #fff;
}
.box-efficient {
	background-color: rgba(59,108,114,0.85);
}
.box-guided {
	background-color: rgba(239,178,142,0.85);
}
.box-personalized {
	background: url(../img/temp-bg.png);
}
.box-private {
	background-color: rgba(27,26,31,0.85);
}
.box-inclusive {
	background-color: rgba(242,242,242,0.85);
}
.box-social {
	background-color: rgba(126,125,127,0.85);
}
.sec-01-title {
  margin-top: 50px;
	margin-bottom: 40px;
	font-size: 30px;
}
.section-03 p {
	font-size: 20px;
	display: none;
}
.section-03 p a {
	margin-top: 20px;
}
.section-03 a {
  display: inline-block;
	font-size: 30px;
	color: inherit;
	font-weight: 500;
	
}
.section-03 a:hover,
.section-03 a:focus {
	text-decoration: none;
	color: inherit;	
}
.expand {
	width: 33px;
	line-height: 1.05em;
	border: 1px solid;
}

.section-03 .box-guided,
.section-03 .box-inclusive {
	color: #000;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-03 .col-sm-6 {
		min-height: 400px;
	}
}

/* Find out more - section */

.section-04 .row {
	margin-left: -30px;
	margin-right: -30px;
	padding-bottom: 40px;
}
.section-04-box {
	padding: 60px 100px;
	background: url(../img/pattern.png);
	margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section-04-box {
		padding: 60px 40px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.section-04-box {
		min-height: 475px;
	}
}
.section-04 .fa{
	font-size: 46px;
	color: #fff;
}
.sec-04-titles {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 500;
}
.section-04 p {
	font-size: 20px;
	padding-bottom: 50px;
}
.btn-dark {
	background-color: #000;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
}
.btn-dark:hover {
	color: #F9B993;
}




/* as seen in - section*/
.section-05 {
	background-color: #efefef;
	padding-bottom: 80px;
}
.col-sm-1-5 {
	display: block;
	padding-right: 15px;
  padding-left: 15px;
}
@media only screen and (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
	.col-sm-1-5 img {
		display: block;
    max-width: 100%;
    height: auto;
	}
}

/* footer */
.footer {
	text-align: center;
	padding-top: 75px;
	padding-bottom: 90px;
	background-color: #2b3134;
}
.footer .col-sm-4 {
	margin-bottom: 20px;
}
.footer a {
	color: #7e858a;
	font-size: 20px;
}
.footer .fa {
	font-size: 34px;
	color: #fff;
} 
.social {
	margin-top: 100px;
	margin-bottom: 40px;
}
.social a {
	display: inline-block;
  width: 38px;
	margin-right: 15px;
  line-height: 38px;
	border-radius: 50%;
	background-color: #f9b993;
}
.social .fa {
	font-size: 22px;
	text-shadow: 2px 2px 8px #9c725c;
	transition: text-shadow 0.2s ease-in-out;
}
.social a:hover .fa {
	text-shadow: 2px 2px 8px #2b3134;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
