/*Fonts:

Gotham Book:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 400;

Gotham Medium:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 500;

Gotham Bold:
font-family: "Gotham A", "Gotham B";
font-style: normal;
font-weight: 700;
*/

body {
	font-family: "Gotham A", "Gotham B";
	font-style: normal;	
	font-weight: 400;
}
.navbar-default {
	padding: 15px 0;
	background: rgba(0,0,0,.6);
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-collapse {
	border-top: none;
	-webkit-box-shadow: none; 
  box-shadow: none; 
}
@media only screen and (min-width: 768px) {
	.navbar-collapse {
		text-align: center;
	}
	.navbar-collapse.collapse {
		height: 0 !important; /* reset bootstrap */		
	}
	/* main nav link animation */
	.navbar-default .navbar-nav>li>a:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 5px;
	  background-color: #fff;
	  -webkit-transition: 300ms;
	  transition: 300ms;
	  -webkit-transform: scale(0, 1);
	  -ms-transform: scale(0, 1);
	  transform: scale(0, 1);
	  -webkit-transform-origin: 0 50%;
	  -ms-transform-origin: 0 50%;
	  transform-origin: 0 50%;
	}
	.navbar-default .navbar-nav>li>a:focus:before, 
	.navbar-default .navbar-nav>li>a:hover:before {
		-webkit-transform: scale(1, 1);
	  -ms-transform: scale(1, 1);
	  transform: scale(1, 1);
	}
	
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
@media only screen and (min-width: 992px) {
	.navbar-default .navbar-nav>li>a {
	  font-size: 20px;
	}	
}
.logo {
	display: inline-block;
	width: 281px;
	height: 52px;
	background-image: url(../img/logo.png);
}
.logo.hidden-xs {

}
.logo.visible-xs-block {
	position: absolute;
	left: 15px;
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
